[Desktop Entry]
Name=SaveTube Client
Exec=/home/Devel/Userscripts/SaveTube/Protocol/savetube %u
Icon=mpv
Type=Application
Terminal=false
MimeType=x-scheme-handler/savetube
